force-app/main/default/flows/Action_Plan_Scheduling_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Action_Plan_Template_Type</name>
        <label>Action Plan Template Type</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Major_Donors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Action_Template.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0PRHs000000M5FAOA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Template_Version</targetReference>
            </connector>
            <label>Major Donors</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>actionPlanName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>endDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()) + 1, 1, 1)</expression>
    </formulas>
    <formulas>
        <name>startDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Action Plan Scheduling Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action Plan Scheduling Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Action_Plans</name>
        <label>Create new Action Plans</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <inputAssignments>
            <field>ActionPlanState</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanTemplateVersionId</field>
            <value>
                <elementReference>$Record.ActionPlanTemplateVersion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanType</field>
            <value>
                <stringValue>Industries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualEndDate</field>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualStartDate</field>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsUsingHolidayHours</field>
            <value>
                <elementReference>$Record.IsUsingHolidayHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>actionPlanName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusCode</field>
            <value>
                <stringValue>InProgress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetId</field>
            <value>
                <elementReference>$Record.TargetId</elementReference>
            </value>
        </inputAssignments>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Action_Template</name>
        <label>Get Action Plan Template</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Action_Plan_Template_Type</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Template_Version</name>
        <label>Get Action Template Version</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Existing_Action_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Action_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplateVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Action_Plans</name>
        <label>Update Existing Action Plans</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Create_new_Action_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateVersionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Action_Template_Version.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActionPlanState</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusCode</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>ActionPlan</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Action_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Yearly_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ActionPlan</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-01</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
