force-app/main/default/flows/CreateHousholdFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Count_Relationships</name>
        <label>Count Relationships</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ChildRelationshipCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetDonorChildRelationship</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsDonorChild</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Spouse_Relations</name>
        <label>Count Spouse Relations</label>
        <locationX>374</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>SpouseRelationshipsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetDonorSpouseRelationship</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DonorIsSpouse</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DonorIsSpouse</name>
        <label>DonorIsSpouse</label>
        <locationX>374</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DonorIsNotSpouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SpouseRelationshipsCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateChildHousehold</targetReference>
            </connector>
            <label>DonorIsNotSpouse</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsDonorChild</name>
        <label>IsDonorChild</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>GetDonorSpouseRelationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DonorIsNotChild</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChildRelationshipCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>DonorIsNotChild</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>HouseholdName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Donor.FirstName} &amp; &quot; &quot; &amp; {!$Record.Donor.LastName} &amp; &quot; Household &quot;</expression>
    </formulas>
    <interviewLabel>createHousholdFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateHousholdFlowV1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateChildHousehold</name>
        <label>CreateChildHousehold</label>
        <locationX>242</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>RelateSpouseToHousehold</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>HouseholdName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Hs000000COzoIAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpouseIsPrimary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>RelateSpouseToHousehold</name>
        <label>RelateSpouseToHousehold</label>
        <locationX>242</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CreateChildHousehold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Donor.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <stringValue>Spouse</stringValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetDonorChildRelationship</name>
        <label>GetDonorChildRelationship</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Relationships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor.PersonContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Child</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDonorSpouseRelationship</name>
        <label>GetDonorSpouseRelationship</label>
        <locationX>374</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Spouse_Relations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spouse</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetDonorChildRelationship</targetReference>
        </connector>
        <object>GiftTransaction</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ChildRelationshipCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>HouseholdToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SpouseRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>SpouseRelationshipsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
