force-app/main/default/flows/CustomerCreationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Person_Account_Count</name>
        <label>Person Account Count</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>AccountCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Person_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Person_Account_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Person_Account_Id</name>
        <label>Set Person Account Id</label>
        <locationX>798</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Person_Account_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Person_Account_Exist</name>
        <label>Person Account Exist</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_SF_Customer</targetReference>
            </connector>
            <label>No Records Found</label>
        </rules>
        <rules>
            <name>One_or_more_records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_Account_Id</targetReference>
            </connector>
            <label>One or more records found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secondary_Or_Third_Email</name>
        <label>Secondary Or Third Email</label>
        <locationX>710</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Main_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryAccount.PersonEmail</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Main_Email</targetReference>
            </connector>
            <label>Main Email</label>
        </rules>
        <rules>
            <name>Secondary_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryAccount.secondaryEmail__pc</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Secondary_Email</targetReference>
            </connector>
            <label>Secondary Only</label>
        </rules>
        <rules>
            <name>Third_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryAccount.CCEmail__pc</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Third_Email</targetReference>
            </connector>
            <label>Third Email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>lastName</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!$Record.Last_Name__c}),
    &apos;BLANK&apos;,
    {!$Record.Last_Name__c}
)</expression>
    </formulas>
    <interviewLabel>CustomerCreationFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PrimaryCustomerCreationFlowV5</label>
    <loops>
        <name>Get_Person_Account_Id</name>
        <label>Get Person Account Id</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Person_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Person_Account_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Attach_Person_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_SF_Customer</name>
        <label>Create New SF Customer</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Attach_To_New_Person_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Accepts_Email_Marketing__c</field>
            <value>
                <elementReference>$Record.Accepts_Email_Marketing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Billing_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Billing_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Billing_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Billing_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Billing_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonHomePhone</field>
            <value>
                <elementReference>$Record.Default_Address_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Hs000000COybIAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Shopify</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>shopifyCustomerId__c</field>
            <value>
                <elementReference>$Record.PrimaryCustomerId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Person_Account</name>
        <label>Get Person Account</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Person_Account_Count</targetReference>
        </connector>
        <filterLogic>3 AND ( 1 OR 2 )</filterLogic>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shopify</stringValue>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shopify To Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>shopifyCustomerId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PrimaryCustomerId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Account</name>
        <label>Get Updated Account</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>PrimaryAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Account_Secondary_Email</name>
        <label>Get Updated Account Secondary Email</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>PrimaryAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>secondaryEmail__pc</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Account_Third_Email</name>
        <label>Get Updated Account Third Email</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>PrimaryAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CCEmail__pc</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Attach_Person_Account</name>
        <label>Attach Person Account</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Secondary_Or_Third_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>CustomerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Attach_To_New_Person_Account</name>
        <label>Attach To New Person Account</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>Create_New_SF_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Main_Email</name>
        <label>Update Main Email</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Get_Updated_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Secondary_Email</name>
        <label>Update Secondary Email</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Get_Updated_Account_Secondary_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>secondaryEmail__pc</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Third_Email</name>
        <label>Update Third Email</label>
        <locationX>842</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Get_Updated_Account_Third_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CCEmail__pc</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Person_Account</targetReference>
        </connector>
        <object>Shopify_Customer__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
