force-app/main/default/flows/Invite_Donors_to_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_choice_variable_to_Donor_Category</name>
        <label>Assign choice variable to Donor Category</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>donorCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_the_donors_category_you_want_to_invite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Chosen_Donors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Donor_Ids_to_a_Set</name>
        <label>Assign Donor Ids to a Set</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberSingle.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_the_Donors.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberSingle.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberSingle.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberSingle.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_Donors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Ids_to_Set</name>
        <label>Assign Existing Ids to Set</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>existingMembersIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Existing_Campaign_Members.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Existing_Campaign_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_Size_Assignment</name>
        <label>Collection Size Assignment</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>collectionSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>campaignMemberCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Donor_Collection_Size_is_not_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choicesCollection</name>
        <choiceText>{!choicesString}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ChoosetheDonorsyouwanttoinvite</name>
        <choiceText>Custom Choice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>custom invite</stringValue>
        </value>
    </choices>
    <choices>
        <name>majorDonorsChoice</name>
        <choiceText>Major Donors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Major</stringValue>
        </value>
    </choices>
    <choices>
        <name>midDonorsChoice</name>
        <choiceText>Mid Donors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mid</stringValue>
        </value>
    </choices>
    <choices>
        <name>minorDonors</name>
        <choiceText>Small Donors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Small</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Donor_Collection_Size_is_not_0</name>
        <label>Donor Collection Size is not 0?</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>errorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Records_1</targetReference>
            </connector>
            <label>Not 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Invite Donors to Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invite Donors to Campaign</label>
    <loops>
        <name>Loop_on_Existing_Campaign_Members</name>
        <label>Loop on Existing Campaign Members</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Current_Campaign_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Existing_Ids_to_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Choose_Invitees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_the_Donors</name>
        <label>Loop over the Donors</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <collectionReference>Get_Chosen_Donors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Donor_Ids_to_a_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collection_Size_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create Campaign Members</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>campaignMemberCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Chosen_Donors</name>
        <label>Get Chosen Donors</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_the_Donors</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Donor_Category__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>donorCategory</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__pc</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stage__pc</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>PersonContactId</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>existingMembersIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Campaign_Members</name>
        <label>Get Current Campaign Members</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Existing_Campaign_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_Invitees</name>
        <label>Choose Campaign Invitees</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_choice_variable_to_Donor_Category</targetReference>
        </connector>
        <fields>
            <name>Choose_the_donors_category_you_want_to_invite</name>
            <choiceReferences>majorDonorsChoice</choiceReferences>
            <choiceReferences>midDonorsChoice</choiceReferences>
            <choiceReferences>minorDonors</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose the donors category you want to invite</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; font-family: tahoma;&quot;&gt;Couldn&apos;t add Donors. Please try again!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMSG</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: tahoma; font-size: 20px;&quot;&gt;You have successfully invited Donors to the event!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Campaign_Members</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>campaignMemberCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>campaignMemberSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>choicesString</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>donorCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DonorsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingMembersIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
